<!-- add_exercise.html -->
{% extends 'layout.html' %}

{% block content %}
    <h2>Add New Exercise</h2>
    <form method="POST" action="{{ url_for('add_exercise') }}">
        <label for="name">Exercise Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="muscle_group">Muscle Group:</label>
        <select id="muscle_group" name="muscle_group" required>
            <option value="Chest">Chest</option>
            <option value="Back">Back</option>
            <option value="Legs">Legs</option>
            <option value="Core">Core</option>
            <!-- Dodaj inne grupy mięśniowe według potrzeb -->
        </select>
        <button type="submit">Add Exercise</button>
    </form>
{% endblock %}