{% extends 'layout.html' %}

{% block content %}
<div class="card mt-4">
    <div class="card-header">
        <h2>Add Exercise</h2>
    </div>
    <div class="card-body">
        <form action="{{ url_for('add_exercise') }}" method="post">
            <div class="form-group">
                <label for="name">Exercise Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="muscle_group">Muscle Group:</label>
                <select class="form-control" id="muscle_group" name="muscle_group" required>
                    <option value="Chest">Chest</option>
                    <option value="Shoulders">Shoulders</option>
                    <option value="Triceps">Triceps</option>
                    <option value="Back">Back</option>
                    <option value="Biceps">Biceps</option>
                    <option value="Legs">Legs</option>
                    <option value="Calves">Calves</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Exercise</button>
        </form>
    </div>
</div>
{% endblock %}