<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise App</title>
    <!-- Dodatkowe style CSS lub skrypty JS mogą być dołączone tutaj -->
</head>
<body>
    <header>
        <h1>Exercise App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('exercises') }}">Exercise List</a></li>
                <li><a href="{{ url_for('add_exercise') }}">Add Exercise</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        &copy; 2024 Exercise App. All rights reserved.
    </footer>
</body>
</html>